*{
    margin: 0;
    padding: 0;
    font-family: "Gilroy";
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    height: 100%;
    background-color: #dadada;
    display: flex;
    justify-content: center;
    align-items: center;
}
#center{
    height: 80%;
    width: 70%;
    /* overflow: hidden; */
    /* background-color: red; */
    position: relative;
}
.imagecont{ 
    overflow: hidden;
    position: absolute;
    width: 0%;
    height: 100%; 
    /* background-color: yellow; */
     
}
img{ 
    height: 100%;  
}
.text{
    height: 100px;
    width: 450px;
    bottom: 15%;
    left: -10%;
    z-index: 999;
    /* background-color: red; */
    position: absolute;
    overflow: hidden;
}
.text h1{
    font-size: 6vw;
    position: absolute;
    top: 100px;
    color: #756666cf;
}